/* Layout */
.container {
  padding: 16px;
  max-width: 1440px;
  /* background-color: rebeccapurple; */
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 32px;
  }
}
