/* Layout */
.container {
  padding: 2.5rem 16px;
  max-width: 1440px;
  /* background-color: rebeccapurple; */
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 3rem 24px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 4rem 32px;
  }
}
