/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Per gestire tutte le immagini responsive */
img {
  max-width: 100%;
  height: auto;
}

body {
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
/* Utilities */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}
.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-none {
  display: none;
}
.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}
