/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Per gestire tutte le immagini responsive */
img {
  max-width: 100%;
  height: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

span,
label {
  font-size: 1rem;
}

a {
  text-decoration: none;
}
/* Utilities */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 425px) {
  .flex-sm-row {
    display: flex;
    flex-direction: row;
  }
  .flex-sm-column {
    display: flex;
    flex-direction: column;
  }
  .ml-mobileL-auto {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .flex-md-row {
    display: flex;
    flex-direction: row;
  }
  .flex-md-column {
    display: flex;
    flex-direction: column;
  }
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}
.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-capitalized {
  text-transform: capitalize;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.d-none {
  display: none;
}
.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.gap-6 {
  gap: 24px;
}

.gap-8 {
  gap: 32px;
}

.gap-10 {
  gap: 40px;
}

.color-primary {
  color: darkred;
}

.fw-600 {
  font-weight: 600;
}
